<div class="flex mt-8">
  <div class="bg-white shadow-lg rounded-lg p-2 w-full md:w-2/4 lg:w-1/2 flex flex-wrap">
    {{#each cartShoes}}
    <div class="w-1/2 pr-4 mb-2">
      <img src={{this.img_url}} alt="Shoe Image" class="rounded-md">
    </div>

    <div class="w-1/2 pl-4 mb-2">

      <h2 class="text-xl font-bold mb-2">{{this.brand}}</h2>
      <p class="text-gray-600 mb-2">{{this.shoe_name}}</p>

      <p class="text-gray-800 text-lg mb-2">Price: ZAR{{this.price}}</p>
      <div class="mb-4">
        <label for="quantity" class="text-gray-800">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="1" class="w-16 border rounded-md p-2 ml-2">
      </div>

      {{!-- <div class="flex justify-between items-center">
        <p class="text-gray-800 font-bold">Total: {{this.total}}</p>
        <button class="bg-red-500 text-white px-4 py-2 rounded-md">Clear Cart</button>
      </div> --}}
    </div>
    {{/each}}
  </div>
  <div class="bg-white shadow-lg rounded-lg p-2 md:w-2/4 lg:w-1/2 center">
    <h2 class="text-4xl center underline ">Summary</h2>
    <p>Subtotal: UNDER-CONSTRUCTION</p>
    <p>Total: UNDER-CONSTRUCTION</p>

    <button class="bg-red-500 text-white px-4 py-2 rounded-md">Clear Cart</button>

  </div>
</div>