<body>
    <div class="display_filter flex">

        <section class="filter w-1/4 p-4">
            {{!-- <div class="filters">
                <div class="filter-container brand-filter">
                    <h3>Brand</h3>
                    {{#each brandNames}}
                    <div class="filter-buttons {{this.brand}}">
                        {{this.brand}}
                    </div>
                    {{/each}}
                </div>

                <div class="filter-container color-filter">
                    <h3>Color</h3>
                    {{#each sizes}}
                    <div class="filter-buttons">
                        {{this.shoe_size}}
                    </div>
                    {{/each}}
                </div>

                <div class="filter-container size-filter">
                    <h3>Size</h3>
                    {{#each colors}}
                    <div class="filter-buttons">
                        {{this.color}}
                    </div>
                    {{/each}}
                </div> --}}


                <form action="/" method="get">
                    <button type="submit" class="bg-neutral-100 p-2 rounded mb-2 w-full" formaction="/"> View All <i
                            class="fas fa-eye"></i></button>
                </form>

                <label for="" class="text-xl font-bold">Filter by brand:</label>
                {{#each brandNames}}
                <form action="/brand/{{this.brand}}" id="brand-filter" method="get">
                    <button type="submit" class="bg-neutral-500 p-2 rounded mb-2 w-full"
                        formaction="/brand/{{this.brand}}">{{this.brand}}</button>
                </form>
                {{/each}}

                <label for="" class="text-xl font-bold">Filter by size:</label>
                {{#each sizes}}
                <form action="/size/" method="get">
                    <button type="submit" class="bg-neutral-500 p-2 rounded mb-2 w-full"
                        formaction="/size/{{this.shoe_size}}">{{this.shoe_size}}</button>
                </form>
                {{/each}}

                <label for="" class="text-xl font-bold">Filter by color:</label>
                {{#each colors}}
                <form action="/color/{{this.color}}" id="size-filter" method="get">
                    <button type="submit" class="bg-neutral-500 p-2 rounded mb-2 w-full"
                        formaction="/color/{{this.color}}">{{this.color}}</button>
                </form>
                {{/each}}


        </section>

        <section class="shoe_display w-3/4 p-4">
            <div class="flex flex-wrap">
                {{#each shoes}}
                <div class="display p-2">
                    <div class="shoe bg-white rounded p-1 shadow">
                        <img src="{{this.img_url}}" alt="{{name}}" class="mb-4">
                        <h3 class="text-xl font-semibold">{{this.shoe_name}}</h3>
                        <p class="text-gray-400 underline italics">{{this.brand}}</p>
                        <p class="text-gray-600">Color: {{this.color}}</p>
                        <p class="text-gray-600">Size: {{this.shoe_size}}</p>
                        <p class="text-gray-600">Qty: {{this.stock}}</p>
                        <p class="text-gray-600">Price: ZAR {{this.price}}</p>
                        <div>
                            <div class="flex justify-center align-center center">
                                <form action="/addToCart/{{this.id}}" method="post">
                                    <button type="submit"
                                        class="add-cart-button font-semibold bg-neutral-300 justify-center p-2 rounded {{this.brand}}">
                                        Add To <i class="fas fa-shopping-cart"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>

    </div>


</body>