<body>
    <section>
        <nav>
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a href="#">
                            <img src="logo.png" alt="Simple Shoes">
                        </a>
                    </div>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Collections</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Our Story</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <div class="navbar-icons">
                        <a href="#" class="nav-link">
                            <i class="fas fa-search"></i>
                        </a>
                        <a href="#" class="nav-link">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </nav>
    </section>

    <section>
    <div class="flex flex-wrap">
        {{#each shoes}}
        <div class="display w-80 mt-2 py-2">
            <div class="shoe">
                <img src="{{this.img_url}}" alt="{{name}}">
                <h3>{{this.brand}}</h3>
                <p>Color: {{this.color}}</p>
                <p>Price: ${{this.price}}</p>
                {{!-- <p>Gender: {{}}</p> --}}
            </div>
        </div>
        {{/each}}
    </div>

    </section>
</body>