<body>
 
    <div class="display_filter">

        <section class="filter float-left text-xl w-120">

            <label for="">Filter by brand:</label>
            <form action="/brand/" method="get">
        
                {{#each brandNames}}
                <button type="submit" class="bg-neutral-500 p-2 border rounded" formaction="/brand/{{this.brand}}">{{this.brand}}</button>
                {{/each}}
            </form>
        </section>

        <section class="shoe_display">
            <div class="flex flex-wrap">
                {{#each shoes}}
                <div class="display w-80 mt-2 py-2">
                    <div class="shoe">
                        <img src="{{this.img_url}}" alt="{{name}}">
                        <h3>{{this.brand}}</h3>
                        <p>Color: {{this.color}}</p>
                        <p>Price: ${{this.price}}</p>
                        {{!-- <p>Gender: {{}}</p> --}}
                    </div>
                </div>
                {{/each}}
            </div>
        </section>



    </div>


</body>