<section class="navigation">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a href="/">
                    <img src="/images.png" alt="bbtrfly">
                </a>
            </div>
            <span class="text-4xl bold" class="w-40">Sneaker House</span>
            <div class="navbar-icons">
                <a href="/search" class="nav-link">
                    <i class="fas fa-search"></i>
                </a>
                <a href="/cart" class="nav-link">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <a href="/customer_signup" class="nav-link">
                    <i class='fas fa-user-alt'></i>
                </a>
            </div>
        </div>
    </nav>
</section>

<body>
    <div class="display_filter flex">

        <section class="filter w-1/4 p-4">

            <div class="change">
                <form action="/filter" method="post">
                    <label for="brand">Filter by brand:</label>
                    <select name="brand" id="brand">
                        {{#each brandNames}}
                        <option value="{{this.brand}}">{{this.brand}}</option>
                        {{/each}}
                    </select>

                 <div>
                       <label for="size">Filter by size:</label>
                    <select name="size" id="size">
                        {{#each sizes}}
                        <option value="{{this.shoe_size}}">{{this.shoe_size}}</option>
                        {{/each}}
                    </select>
                 </div>

                    <button type="submit" class="bg-neutral-100 p-2 rounded mb-2 w-full"> <i class="fas fa-filter"></i>Filter</button>
                </form>
            </div>

            <form action="/" method="get">
                <button type="submit" class="bg-neutral-100 p-2 rounded mb-2 w-full" formaction="/"> View All <i class="fas fa-eye"></i></button>
            </form>

            <label for="" class="text-xl font-bold">Filter by brand:</label>
            {{#each brandNames}}
            <form action="/brand/{{this.brand}}" method="get">
                <button type="submit" class="bg-neutral-500 p-2 rounded mb-2 w-full"
                    formaction="/brand/{{this.brand}}">{{this.brand}}</button>
            </form>
            {{/each}}

            <label for="" class="text-xl font-bold">Filter by size:</label>
            {{#each sizes}}
            <form action="/size/" method="get">
                <button type="submit" class="bg-neutral-500 p-2 rounded mb-2 w-full"
                    formaction="/size/{{this.shoe_size}}">{{this.shoe_size}}</button>
            </form>
            {{/each}}

            <label for="" class="text-xl font-bold">Filter by color:</label>
            {{#each colors}}
            <form action="/color/{{this.color}}" method="get">
                <button type="submit" class="bg-neutral-500 p-2 rounded mb-2 w-full"
                    formaction="/color/{{this.color}}">{{this.color}}</button>
            </form>
            {{/each}}

        </section>

        <section class="shoe_display w-3/4 p-4">
            <div class="flex flex-wrap">
                {{#each shoes}}
                <div class="display p-2">
                    <div class="shoe bg-white rounded p-1 shadow">
                        <img src="{{this.img_url}}" alt="{{name}}" class="mb-4">
                        <h3 class="text-xl font-semibold">{{this.shoe_name}}</h3>
                        <p class="text-gray-400 underline italics">{{this.brand}}</p>
                        <p class="text-gray-600">Color: {{this.color}}</p>
                        <p class="text-gray-600">Size: {{this.shoe_size}}</p>
                        <p class="text-gray-600">Qty: {{this.stock}}</p>
                        <p class="text-gray-600">Price: ZAR {{this.price}}</p>
                        <div>
                        <button type="submit" class="font-semibold bg-neutral-300 justify-center p-2 rounded"> BUY </button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
</body>